*{
margin:0px auto;
padding:0px;
text-align:center;
}
body{
width:100%;
}
h3{
text-align:center;
}
header{
height:100px;
width:90%;
border-radius:30px;
border:solid 2px #000;
}
section{
width:95%;
min-height:370px;
border-radius:15px;
overflow-y:hidden;
border:solid 2px #000;
}
article{
width:50%;
min-height:120px;
padding:10px;
margin-bottom:16px;
border:solid 2px #000;
border-radius:15px;
}